<html>
	<head></head>
	<body>
		<form>
			Text: 
			<input type='text' name='text' />

			<p>
			Index:
			<input type='text' name='index' />
			</p>

			<p>
			<input type='submit' value='Submit' />
			</p>
		</form>

		<p>
			<%= "Your ciphered text is: #{output}" if !output.nil? %>
		</p>
	</body>
</html>